<div class="col-12 mt-3">
	<h3 class="gr-orange font-weight-bolder">{{ pageTitle }}</h3>
	<div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
		We have some problems try later.
	</div>
	<hr>
	<table class="table table-hover table-borderless">
		<thead class="thead-default">
			<tr>
				<th>Title</th>
				<th>Fecha</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let topic of topics">
				<td>{{ topic.title }}</td>
				<td>{{ topic.date | amLocale:'en' | amDateFormat:'LL' }}</td>
				<td class="text-center">
					<a [routerLink]="['/my-topics/edit', topic._id]" class="btn btn-sm btn-success m-1">
						<fa-icon [icon]="['far', 'edit']"></fa-icon>
					</a>
					<button class="btn btn-sm btn-danger m-1" data-toggle="modal" [attr.data-target]="'#modal'+topic._id">
						<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
					</button>
					<div class="modal fade" id="{{ 'modal'+topic._id }}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Are you sure that you want to delete the topic</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<b>"{{ topic.title }}"</b>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTopic(topic._id)">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>