<div class="jumbotron jumbotron-fluid ">
   <div class="col-sm-12 col-md-8 mr-auto ml-auto">
      <h1>{{ pageTitle }}</h1>
      <div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'success'">
         Register completed! Access in this <a [routerLink]="['/login']">link</a>
      </div>
      <div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
         We have some problems try later.
      </div>
      <form class="col-12 m-0 p-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
         <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">INVALID NAME</small>
         </div>

         <div class="form-group">
            <label for="surname">Surname</label>
            <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ]+">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">INVALID SURNAME</small>
         </div>

         <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">INVALID EMAIL</small>
         </div>

         <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required >
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">INVALID PASSWORD</small>
         </div>
         <div class="d-flex">
            <input type="submit" value="{{ pageTitle }}" class="btn btn-lg btn-orange bg-gr-green ml-auto" [disabled]="registerForm.invalid">
         </div>
      </form>
   </div>
</div>
