<div class="col-sm-12 col-md-8 mt-3">
	<h3 class="gr-orange font-weight-bolder">{{pageTitle}} </h3>
	<hr>
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let topic of topics">
			<h4 class="gr-orange"><a class="gr-orange" [routerLink]="['/topic', topic._id]">{{ topic.title }}</a></h4>
			<span class="badge badge-success m-2">{{ topic.user.name + ' ' + topic.user.surname }}</span>
			<span class="badge badge-primary	m-2">{{ topic.date | amLocale:'en' | amTimeAgo }}</span>
			<a [routerLink]="['/topic', topic._id]" class="btn btn-sm btn-orange float-right mx-auto d-block">View</a>
		</li>
	</ul>
	<div class="clearfix"></div>
	<ul class="pagination m-4" *ngIf="!noPaginate">
		<li class="page-item">
			<a class="page-link" [routerLink]="['/topics', prevPage]">&laquo;</a>
		</li>
		<li class="page-item" *ngFor="let page of numberPages">
			<a class="page-link" [routerLink]="['/topics', page]">{{ page }}</a>
		</li>
		<li class="page-item">
			<a class="page-link" [routerLink]="['/topics', nextPage]">&raquo;</a>
		</li>
	</ul>
</div>