<div class="jumbotron jumbotron-fluid ">
   <div class="container text-center">
      <h1>{{ pageTitle }}</h1>
		<h3>Answer for your programming questions</h3>
		<p>For upgraders, by upgraders</p>
      <div class="row justify-content-center mt-3">
         <div class="col-sm-12 col-md-10">
            <form class="form-inline justify-content-center m-md-5" #searchForm="ngForm">
               <div class="input-group m-2 col-sm-12 p-0">
                  <input class="form-control form-control-lg" name="find" #find="ngModel" [(ngModel)]="search" type="search" placeholder="Search ..." aria-label="Search">
               </div>
               <button (click)="goSearch()" type="submit" class="btn btn-lg btn-outline-orange m-2">Get yours response </button>
            </form>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-sm-12 col-md-3 mt-4">
            <a [routerLink]="['/topics']" class="btn btn-lg btn-orange btn-block">Topics</a>
         </div>
         <div class="col-sm-12 col-md-3 mt-4" *ngIf="identity">
            <a [routerLink]="['/my-topics/new']" class="btn btn-lg btn-orange btn-block">New Topics</a>
         </div>
         <div class="col-sm-12 col-md-3 mt-4" *ngIf="identity">
            <a [routerLink]="['/users']" class="btn btn-lg btn-orange btn-block"  >Users</a>
         </div>
		</div>
   </div>
</div>

