<div class="container">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4">
      <a class="navbar-brand" [routerLink]="['']">
         <img src="assets/img/logo-orange.png" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" routerLinkActive="active" [routerLink]="['/topics']">Topics</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLinkActive="active" [routerLink]="['/my-topics/new']" *ngIf="identity">New topic</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']" *ngIf="identity">Users</a>
            </li>
         </ul>
         <ul class="navbar-nav navbar-right">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['login']" *ngIf="!identity">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['register']" *ngIf="!identity">Register</a>
            </li>
				<li class="nav-item" *ngIf="identity">
					<div class="avatar_mask">
						<img src="{{ urlCloudinary + identity.image }}" class="avatar-nav">
					</div>
				</li>
            <li class="nav-item dropdown" *ngIf="identity">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ identity.name }}
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/my-topics']"><fa-icon class="mr-2" [icon]="['fas', 'list']"></fa-icon> My Topics</a>
                  <a class="dropdown-item" [routerLink]="['/profile', identity._id]"><fa-icon class="mr-2" [icon]="['far', 'user']"></fa-icon> Profile</a>
                  <a class="dropdown-item" [routerLink]="['/settings']" ><fa-icon class="mr-2" [icon]="['fas', 'user-cog']"></fa-icon> User settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item pointer" (click)="logout()"><fa-icon class="mr-2" [icon]="['fas', 'sign-out-alt']"></fa-icon> Exit</a>
               </div>
            </li>
         </ul>
      </div>
   </nav>
   <router-outlet></router-outlet>
</div>
