<div class="jumbotron jumbotron-fluid ">
   <div class="col-sm-12 col-md-8 mr-auto ml-auto">
      <h1>{{ pageTitle}}</h1>
      <div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'success'">
         Login correct! Redirect
      </div>
      <div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
         Invalid email or password!
      </div>
      <form class="col-12 m-0 p-0" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

         <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">INVALID EMAIL</small>
         </div>

         <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required >
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">INVALID PASSWORD</small>
         </div>
         <div class="d-flex">
            <input type="submit" value="{{ pageTitle }}" class="btn btn-lg btn-orange bg-gr-green ml-auto" [disabled]="loginForm.invalid">
         </div>
		</form>
		<div class="mt-3 text-center">
			If you do not have an account you can create it <a class="btn btn-sm btn-primary" [routerLink]="['/register']">here</a>
		</div>
   </div>
</div>
