<div class="col-md-4 col-sm-12 float-left mt-3">
   <h3 class="gr-orange font-weight-bolder ">My Topics</h3>
   <hr>
   <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a [routerLink]="['list']" routerLinkActive="active" class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My topics</a>
      <a [routerLink]="['new']"  routerLinkActive="active" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">New topic</a>
      <a [routerLink]="['/settings']" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User Settings</a>
   </div>
</div>

<div class="col-md-8 col-sm-12 float-right">
   <router-outlet></router-outlet>
</div>