<div class="col-sm-12 col-md-8 mt-3">
	<div class="avatar_mask float-left mr-2">
		<img src="{{ urlCloudinary + user.image }}" class="avatar-nav">
	</div>
	<h3 class="gr-orange font-weight-bolder">{{pageTitle +' '+ user.name +' '+ user.surname}}</h3>
	<hr>
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let topic of topics">
			<h4 class="gr-orange"><a class="gr-orange" [routerLink]="['/topic', topic._id]">{{ topic.title }}</a></h4>
			<span class="badge badge-primary	m-2">{{ topic.date | amLocale:'en' | amTimeAgo }}</span>
			<a [routerLink]="['/topic', topic._id]" class="btn btn-sm btn-orange float-right mx-auto d-block">View</a>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>