<div class="col-sm-12 col-md-8 mt-3">
	<h3 class="gr-orange font-weight-bolder">{{pageTitle}}</h3>
	<hr>
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let user of users">
			<div class="avatar_mask float-left mr-2">
				<img src="{{ urlCloudinary + user.image }}" class="avatar-nav">
			</div>
			<h4 class="gr-orange"><a class="gr-orange" [routerLink]="['/profile', user._id]">{{ user.name + ' ' + user.surname }}</a></h4>
			<a [routerLink]="['/profile', user._id]" class="btn btn-sm btn-orange float-right mx-auto d-block">View Profile</a>
		</li>
	</ul>
</div>