<div class="col-12 mt-3" *ngIf="topic">
	<div class="col-sm-12 col-md-8 float-left">
		<h3 class="gr-orange font-weight-bolder">{{ topic.title}}</h3>
		<span class="badge badge-success">{{ topic.user.name +' '+ topic.user.surname}}</span>
		<span class="badge badge-primary ml-2">{{ topic.date | amLocale: 'en' |amTimeAgo }}</span>
		<span class="badge badge-warning ml-2" *ngIf="topic.lang">{{ topic.lang }}</span>
		<p class="mt-2">{{ topic.content}}</p>
		<p class="mt-2" *ngIf="topic.code  && topic.lang ">
			<ngx-highlight-js lang="{{ topic.lang }}" code="{{topic.code}}"> </ngx-highlight-js>
		</p>
		<hr>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12 col-md-8 float-left" *ngIf="identity && identity.email">
		<div id="comment-box mt-3">
			<h3 class="gr-orange font-weight-bolder">Comments</h3>
			<div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'success'">
				Comment add!
			</div>
			<div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
				We have some problems try later.
			</div>
			<form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">
				<div class="form-group">
					<label for="content">Type your comment</label>
					<textarea name="content" id="content" #content="ngModel" [(ngModel)]="comment.content" class="form-control" required ></textarea>
					<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">Invalid content</small>
				</div>
				<div class="d-flex">
					<input type="submit" value="Send" class="btn btn-orange ml-auto " [disabled]="formComment.invalid">
				</div>
			</form>
			<hr>
			<ul class="list-group mb-5">
				<li class="list-group-item" *ngFor="let comment of topic.comments">
					<div class="avatar_mask float-left mt-2 mr-2">
						<img src="{{ urlCloudinary + comment.user.image }}" class="avatar-nav">
					</div>
					<span class="badge badge-success">{{ comment.user.name + ' ' + comment.user.surname }}</span>
					<span class="badge badge-primary m-2">{{ comment.date | amLocale: 'en' |amTimeAgo }}</span>
					<span class="d-block">{{comment.content}}</span>
					<button (click)="deleteComment(comment._id)" class="float-right btn btn-danger btn-sm" *ngIf="identity._id == comment.user._id">Delete</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-12 col-md-8 float-left" *ngIf="!identity">
		<div class="alert alert-primary col-12 m-2 text-center">
			Please login to post a comment <a [routerLink]="['/login']">Login</a>
		</div>
	</div>
</div>