<div class="jumbotron jumbotron-fluid pt-3 ">
   <div class="col-sm-12 col-md-8 mr-auto ml-auto">
      <div class="fb-profile mb-3">
         <img align="left" class="fb-image-lg" src="assets/img/gyga-wall.png" alt="Gygaresponse"/>
         <img align="left" class="fb-image-profile thumbnail" src="{{ urlCloudinary + identity.image }}"  alt="{{ identity.name }}"/>
         <h5 class="mb-0">{{ identity.name }} {{ identity.surname }}</h5>
      </div>

      <div class="mt-5">
         <form class="col-12 m-0 p-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ]+">
               <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">INVALID NAME</small>
            </div>

            <div class="form-group">
               <label for="surname">Surname</label>
               <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ]+">
               <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">INVALID SURNAME</small>
            </div>

            <div class="form-group">
               <label for="email">Email</label>
               <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
               <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">INVALID EMAIL</small>
            </div>

            <div class="form-group">
               <label for="avatar">Avatar</label>
               <angular-file-uploader
                  [config]="fileUploaderConfig"
                  [resetUpload]=true
                  (ApiResponse)="avatarUpload($event)">
               </angular-file-uploader>
            </div>
            <div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'success'" role="alert">
               Profile updated
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
               We have some problems try later.
            </div>
            <div class="d-flex">
               <input type="submit" value="Update" class="btn btn-lg btn-orange bg-gr-green ml-auto" [disabled]="userEditForm.invalid">
            </div>
         </form>
      </div>
   </div>
</div>
