/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800&display=swap');

*{
   font-family: 'Nanum Gothic', sans-serif;
}
body{
   background-color: antiquewhite;
}
.pointer, .afu-attach-pin{
   cursor: pointer;
}
a{
   color: #343a40;
}
hr {
	border: 1px solid #8BC34A;
}
.gr-green{
   color: #8BC34A;
}

.bg-gr-green{
   background-color: #8BC34A;
}

.gr-orange{
   color: #FF5722;
}
.bg-gr-orange{
   background-color: #FF5722;
}

.btn-orange, .afu-upload-btn {
   color: #212529;
   background-color: #FF5722;
   border-color: #FF5722;
}

.btn-orange:hover {
   color: #fff;
   background-color: #d6491c;
   border-color: #a33915;
}

.btn-orange:focus, .btn-orange.focus {
   box-shadow: 0 0 0 0.2rem #b35a3e;
}

.btn-orange.disabled, .btn-orange:disabled {
   color: #212529;
   background-color: #FF5722;
   border-color: #FF5722;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
   color: #fff;
   background-color: #ff8159;
   border-color: #d66e4d;
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem #b35a3e;
}


.btn-outline-orange {
   color: #FF5722;
   border-color: #FF5722;
}

.btn-outline-orange:hover {
   color: #fff;
   background-color: #FF5722;
   border-color: #FF5722;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
   box-shadow: 0 0 0 0.2rem #b35a3e;
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
   color: #FF5722;
   background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
   color: #fff;
   background-color: #FF5722;
   border-color: #FF5722;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem #b35a3e;
}

.afu-dragndrop-box {
   width: 100%!important;
}
.afu-valid-file {
   padding-left: 1rem !important;
   padding-right: 1rem !important;
}
angular-file-uploader > div {
   padding: 0px!important;
}
.avatar_mask{
   width: 35px;
   height: 35px;
   border-radius: 900px;
   overflow: hidden;
}

.avatar_mask img{
   height: 35px;
}


.fb-profile img.fb-image-lg{
   z-index: 0;
   width: 100%;
   margin-bottom: 10px;
}

.fb-image-profile{
   margin: -90px 10px 0px 50px;
   z-index: 9;
   width: 20%;
   border: 1px solid #FF5722;
   background: #FF5722;
}

@media (max-width:768px){

   .fb-image-profile{
      margin: -45px 10px 0px 25px;
      z-index: 9;
      width: 20%;
      border: 1px solid #FF5722;
      background: #FF5722;
   }
}


.nav-pills .nav-link {
   border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
   color: #fff;
   background-color: #FF5722;
}

