<div class="col-12 mt-3">
	<h3 class="gr-orange font-weight-bolder">{{ pageTitle }}</h3>
	<div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'success'">
		Topic created successful.
	</div>
	<div class="alert alert-success col-12 m-2 text-center" *ngIf="status == 'updated'">
			Topic updated successful.
		</div>
	<div class="alert alert-danger col-12 m-2 text-center" *ngIf="status == 'error'">
		We have some problems try later.
	</div>
	<hr>
	<form #addTopic="ngForm" (ngSubmit)="onSubmit(addTopic)">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" name ="title" id="title" #title="ngModel" [(ngModel)]="topic.title"  required class="form-control" placeholder="Title ...">
			<small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">Invalid title</small>
		</div>

		<div class="form-group">
			<label for="content">Content</label>
			<textarea name="content" id="content" #content="ngModel" [(ngModel)]="topic.content" class="form-control" placeholder="Content ..."></textarea>
			<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">Invalid content</small>
		</div>

		<div class="form-group">
			<label for="code">Code</label>
			<textarea name ="code" id="code" #code="ngModel" [(ngModel)]="topic.code" class="form-control" placeholder="Code ..."></textarea>
			<small *ngIf="!code.valid && code.touched" class="invalid-feedback d-block">Invalid code</small>
		</div>

		<div class="form-group">
			<label for="lang">Lang</label>
			<input type="text" name ="lang" id="lang" #lang="ngModel" [(ngModel)]="topic.lang"  required class="form-control" placeholder="Lang ...">
			<small *ngIf="!lang.valid && lang.touched" class="invalid-feedback d-block">Invalid lang</small>
		</div>

		<div class="d-flex">
			<input type="submit" value="{{pageTitle}}" class="btn btn-orange ml-auto " [disabled]="addTopic.invalid">
		</div>
	</form>
</div>